#headerTable{
width:80%;
height:20px;
border:0px;
background-color: #3495b5;
border-bottom:1px solid black;
width:100%;
}
#headerTable td{
white-space:nowrap;
color:white;		
}

#headerTable a:link, #headerTable a:visited, #headerTable a:active {
color: #EFE7E7;
text-decoration: none;
margin-left:10px;
}

#headerTable a:hover {
color: #ffffff;
text-decoration: underline;
}

#headerTable input{
background-color:#22437f;
border:1px solid white;
color:white;
padding-left:1px;
}

.textbox_error{
font-family: arial,verdana,sans-serif;
font-size: 12px;
border: 1px solid red;
background-color:#ffd1d1;
}

.autocomplete {position:relative;width:280px;white-space:nowrap}/* set width of widget here*/
.autocomplete_input {z-index:0;width:100%;height:100%;font-family: arial,verdana,sans-serif;font-size:12px;border: 1px solid #666666;border-bottom: 1px solid #f8f8f8;border-right: 1px solid #f8f8f8;}
.autocomplete_container {width:100%;padding-top:0px;}
.autocomplete_container .yui-ac-content {position:absolute;width:100%;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;}
.autocomplete_container .yui-ac-shadow {position:absolute;margin:.3em;width:100%;background:#a0a0a0;z-index:9049;}
.autocomplete_container ul {padding:0px 0;width:100%;margin:0px;}
.autocomplete_container li {padding:0 0px;cursor:default;white-space:nowrap;width:100%;}
.autocomplete_container li.yui-ac-highlight {background:#ff0;}

a.selectableItem:link, a.selectableItem:active, a.selectableItem:visited{
	display:block;
	padding:3px;
	color:black;
	cursor:default;
	margin:1px;
}
a.selectableItem:hover{
	background-color:#ffffcc;
	color:black;
}
table, td {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin: 0;
}

table.normalTable, table.normalTable td {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border:0px;
}
.scrollDiv{
	overflow:auto;
	height:200px; 
	width:500px;
	border:1px solid #000000;
	border-bottom-color:#f1f1f1;
	border-right-color:#f1f1f1;
}
.statusBar{
	border:1px solid black;
	background-color:#f1f1f1;
}
.statusBarUsage{
	background-color:#666666;
}

.statusBarUsageCritical{
	background-color:red;
}

.event_completed {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
  color: #000000;	
  text-decoration: line-through;
}
.event_late{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
  color: red;	
}


.summary_icon {
	display: inline;
	font-size: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	padding-left: 5px;
	margin-right:5px;
	font-style: normal;
}

.ErrorBox {
	padding: 5px;
	margin: 5px;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	background-color: #F6F7F2;
	border: 1px solid #666666;
}

.alert{
	padding: 5px;
	margin: 5px;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	background-color: #f1f1f1;
	border: 1px solid #666666;
}
.alert a {
	font-decoration: underline;
}

.alert td {
	padding: 5px;
}



.ModuleIcons {
	padding: 2px;
	margin:0px; 
	padding-right: 15px;
	font-size: 10px;
	text-align: center;
}

a.ActiveModuleIcon:link, a.ActiveModuleIcon:visited, a.ActiveModuleIcon:active {
	
}

.FooterBar {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #3495b5;
	padding:	0;
	border-top: 1px solid black;
	text-align: right;
}

a.FooterBar:link, a.FooterBar:visited, a.FooterBar:active {
	color: #EFE7E7;
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	border: 0;
	padding: 2px;
}

a.FooterBar:hover {
	color: #ffffff;
	text-decoration: none;
}

.HeaderBar {
	font-family:	arial, verdana, sans-serif;
	font-size:	12px;
	font-weight: normal;
	background-color: #3495b5;
	padding:	0;
	border-bottom: 1px solid black;
	height: 22px;
	text-align: right;
}

a.HeaderBar:link, a.HeaderBar:visited, a.HeaderBar:active {
	color: #EFE7E7;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	border: 0;
	padding: 2px;
	padding-right: 10px;
}

a.HeaderBar:hover {
	color: #ffffff;
	text-decoration: underline;
}

.acl {
	background-color: #f1f1f1;
}
.tabtable
{
	border: 1px solid #666666;
	background-color: #f1f1f1;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

.tabtable th {
        background-color: #666666;
        font-size: 14px;
		padding: 2px;
        font-weight: bold;
        color: #FFFFFF;
        border: 0px;
        border-bottom: 1px solid #666666;
        text-align: left;
}

.ActiveTab{
	background-color: #CCCCCC;
	border-right: 1px solid #666666;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	text-align: center;
	cursor:default;

}

.Tab {	
	background-color: #FFF7EB;
	border-right: 1px solid #666666;
	text-align: center;
	cursor:default;
}

.TabBackground {
	background-color: #FFF7EB;
        border-bottom: 1px solid #666666;	
}

.ActiveTabVert{
	background-color: #CCCCCC;
	border-bottom: 1px solid #666666;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	padding: 2px;
	cursor:default;

}

.TabVert {	
	background-color: #FFF7EB;
	border-bottom: 1px solid #666666;
	padding: 2px;
	cursor:default;
}

.TabBackgroundVert {
	background-color: #FFF7EB;
	border-right: 1px solid #666666;
}



.alert{
	padding: 5px;
	margin: 5px;
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	background-color: #ffffff;
	border: 1px solid #666666;
}
.alert a {
	font-decoration: underline;
}

.alert td {
	padding: 5px;
}

body {
	background-color: #ffffff;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	overflow:auto;
	padding:5px;
	marging:0px;
}

table {

	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
        color: #000000;
	margin: 0;
}

h1{
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
        color: #000000;
	font-weight: bold;
	margin: 0px;
	margin-bottom: 12px;
	
}

h2{
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
        font-weight: bold;
        color: #000000;
	margin: 0px;
	margin-bottom: 5px;
}

h3{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
        font-weight: bold;
        color: #000000;
	margin: 0px;
}

a:link, a:visited, a:active  {
    text-decoration:    none;
    color:  #000000;
}

a:hover {
    text-decoration:    none;
    color:  #3495b5;
}

.Header {
	font-family: arial, helvetica, sans-serif;
	font-size: 18px;
        color: #18425b;
	font-weight: bold;
	font-style: italic;
	background-color: #E6EFF4;
}


.Error {
	font-size: 12px;
        color: red;
	font-weight: bold;
}

a.Error:link, a.Error:visited, a.Error:active{
	font-size: 12px;
	color: red;
	font-weight: bold;
	text-decoration: underline;
}

.Success {
	font-size: 12px;
        color: #6666FF;
	font-weight: bold;
}
.normal
{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
        color: #000000;
}
a.normal:link, a.normal:visited, a.normal:active
{
	text-decoration: underline;
}
a.normal:hover {
    text-decoration:    none;
    color:  #3495b5;
}

.normal2 {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
        color: #FFFFCC;
}

.blue
{
        color: blue;
}

a.blue:link, a.blue:visited, a.blue:active
{
	text-decoration: underline;
	color: blue;
}
a.blue:hover {
    text-decoration:    none;
    color:  red;
}


.textbox{
	background-color: #FFF7EB;
	border-style: solid;
	
        border-left-color: #cccccc;
	border-bottom-color: #cccccc;
        border-top-color: #cccccc;
	border-right-color: #cccccc;

        border-left-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;

	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.button{
	background-color: #3495b5;
	border-style: solid;	
  border-color: #666666;
  border-width: 1px;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: #EFE7E7;
	margin-top: 10px;
	margin-right:5px;
}
.button_mo{
	background-color: #EFE7E7;
	border-style: solid;
	border-color: #3495b5;
  border-width: 1px;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: #3495b5;
	margin-top: 10px;
	margin-right:5px;
}

.small{
        font-family: arial, helvetica, sans-serif;
        font-size: 10px;
        font-weight: italic;
}

a.small_underline, a.small_underline:visited, a.small_underline:active{
        font-family: arial, helvetica, sans-serif;
        font-size: 10px;	
	text-decoration: underline;
}

.count{
        font-family: arial, helvetica, sans-serif;
        font-size: 10px;
        font-weight: bold;
        color: blue;
}
/* Start standard Group-Office Table */
.go_table {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	border: 0px;
	border-collapse: collapse;
	-moz-user-select:none;
	cursor: default;
	width:100%;
	margin-top:5px;
	white-space:nowrap;
}

.go_table th, .go_table th td {
		background-color: #666666;
        font-size: 12px;
		padding: 2px;
		padding-right:7px;
		margin: 0px;
        font-weight: bold;
        color: #FFFFFF;
        white-space: nowrap;
        text-align: left;
        border:0px;        
        vertical-align:middle;  
}

.go_table th a:link, .go_table th a:visited, .go_table th a:active {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.go_table th a:hover{
	text-decoration: underline;
}

.go_table td {
	border: 0px;
	border-bottom: 1px solid #666666;	
	margin: 0px;
	padding-left: 0px;
	padding-right: 7px;
	padding-top:0px;
	padding-bottom:0px;
	white-space:nowrap;
}



.selectedRow{
	background-color: #FFFFCC;
}

.navLinks {
	border: 0px;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	width: 100%;	
}

.navLinks td {
	border: 0px;
	margin: 0px;
	padding: 0px;
}


.go_simple_table, tabtable go_simple_table {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	border: 0px;
	border-collapse: collapse;
}

.go_simple_table th, tabtable go_simple_table th  {
        font-size: 12px;
		padding: 2px;
		margin: 0px;
        font-weight: bold;
        color: #000000;
        white-space: nowrap;
        text-align: left;        
        background-color: #f1f1f1;
        border:0px; 
}

.go_simple_table td, tabtable go_simple_table td {
	border: 0px;
	margin: 0px;
	padding: 2px;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
/* End standard Group-Office Table */

div.description {
	margin: 0px;
	margin-left: 10px;	
}
