a.ig_pagination:link,a.ig_pagination:visited,a.ig_pagination:active{
font-size:14px;
color:black;
margin:14px;
}

a.ig_pagination:hover{
font-size:14px;
color:red;
}


a.ig_paginationActive:link,a.ig_paginationActive:visited,a.ig_paginationActive:active{
font-size:14px;
color:black;
margin:14px;
font-weight:bold;
}

a.ig_paginationActive:hover{
font-size:14px;
font-color:red;
}


.ig_paginationDisabled{
font-size:14px;
color:#cccccc;
margin:14px;
}