.evenRow {

}

.unevenRow {
	background-color: #f1f1f1;
}

.hours_table {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	border: 0px;
	border-collapse: collapse;
	-moz-user-select:none;
	cursor: default;
	margin-top:10px;
	width:100%;
}

.hours_table th,.hours_table th td {
		background-color: #22437f;
        font-size: 12px;
		padding: 2px;
		margin: 0px;
        font-weight: bold;
        color: #FFFFFF;
        white-space: nowrap;
        text-align: left;
        border:0px;        
}

.hours_table td {
	border: 0px;
	margin: 0px;
	padding: 2px;
	vertical-align: top;
}
