.algemeen td{
	margin: 20px;
}	

.alba {
	border-collapse: collapse;
	border-spacing: 0;
	border: 2px solid black;
}
.alba td
{
	border: 1px solid black;
	margin: 0px;
}

.gmo {
	border-collapse: collapse;
	border-spacing: 0;
	border: 2px solid black;
}
.gmo td
{
	vertical-align: top;
	border: 1px solid black;
	margin: 0px;
}
