.invoice_title{
	font-size: 16px;
	font-weight:bold;
}

.invoice_receiver{
	vertical-align: top;
	width:100%;
}

.invoice_sender{
	vertical-align: top;
	white-space:nowrap;
}

table.maintable{
	width:600px;
}

table.addressestable{
	width:100%;
}

table.itemstable{
	width:100%;	
	margin-top:30px;
}

table.itemstable th{
	text-align:left;
	font-weight:bold;
	background-color:#f1f1f1;
	border-top:1px solid black;
	border-bottom: 1px solid black;
	margin:0px;
	padding:2px;
}

table.itemstable td{
	border-bottom: 1px solid black;
	margin:0px;
	padding:2px;
}

.terms_title{
	font-weight:bold;
	font-size:14px;
	margin-top:30px;
}

a.types_link:link, a.types_link:active, a.types_link:visited {
	display:block;
	padding:3px;
	color:black;
}
a.types_link:hover{
	display:block;
	padding:3px;
	background-color: #96c0e4;
	color:white;
}
