.groupRow
{
	background-color: #F6F7F2;
	height: 25px;
}

.all_day_event_row{
background-color: #f1f1f1;

}

.cal_event{
	border: 0px;
	width:100%;
}

.cal_event td {
	border:0px;
}

.cal_list{
	margin: 0px;
	padding: 0px;
	width:100%;
	cursor: default;
}


.cal_list td {
	vertical-align: top;
}
.headingRow {
	border-collapse: collapse;
	border: 1px solid #7d7d7d;
}
.eventCell {
	border-collapse: collapse;
	border-bottom: 1px dashed #7d7d7d;
	padding:2px;
}

.dayCell {
	font-size:16px;
	font-weight:bold;
	text-align:center;
	vertical-align:top;
	border:0;
}

.currentDayCell {
	font-size:16px;
	font-weight:bold;
	text-align:center;
	vertical-align:top;
	border:0;
	background-color: #7d7d7d;
	color:#ffffff;
}

.eventDetails, .eventDetails td{
	font-size: 9px;
}

.dayname
{
	font-size:9px;
	font-weight:normal;
	text-align:center;
}
.daySeperator{	
	height:10px;
	border-collapse: collapse;
	border-bottom: 1px solid #7d7d7d;
}
.cal_list th {
	vertical-align: top;
	background-color: #FFF7EB;
	color: black;
	text-align: left;
	font-weight: normal;
}

.cal{
	border: 1px solid #7d7d7d;
	border-collapse: seperate;
	margin: 0px;
	padding: 0px;
	width:100%;
	cursor: default;
}
.cal td {
	vertical-align: top;
	border: 1px solid #7d7d7d;
	margin: 0px;
	padding: 0px;
}

.cal_title{
	background-color: #7d7d7d;
	color: #ffffff;
	padding: 4px !important;
	font-weight: bold;
	font-size: 14px;
}
.cal th {
	vertical-align: top;
	border-collapse: collapse;
	border: 1px solid #7d7d7d;
	padding: 0px;
	margin: 5px;
	background-color: #FFF7EB;
	color: black;
	text-align: center;
	font-weight: normal;
}

.cal .heading {
	vertical-align: top;
	border-collapse: collapse;
	border: 1px solid #7d7d7d;
	padding: 0px;
	margin: 5px;
	color: black;
	text-align: center;
	font-weight: normal;
	background-color: #F7F3F7;
	font-size: 11px;
}

.cell_current_month {
	vertical-align: top;
	font-size: 11px;
	color: black;
	background-color: #FFF7EB;
	height:80px;
	width:14%;
}

.cell_other_month {
	vertical-align: top;
	font-size: 11px;
	color: gray;
	background-color: #FFF;
	height:80px;
	width:14%;
}

.cell_selected {
	vertical-align: top;
	font-size: 11px;
	color: white;
	background-color: #cccccc;
	height:80px;
	width:14%;
}

.cell_holiday {
	vertical-align: top;
	font-size: 11px;
	color: black;
	background-color: #fff0d9;
	height:80px;
	width:14%;
}


.availability {
	border: 1px solid #7d7d7d;
	border-collapse: collapse;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}

.availability table{
	border-collapse: collapse;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.availability td.hour {
	border-collapse: collapse;
	border: 1px solid #7d7d7d;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.availability td.hour a{
	display: block;
}

.availability td.available {
	border-collapse: collapse;
	border: 1px solid #7d7d7d;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	background-color: #cccccc;
}

.availability td.unavailable {
	border-collapse: collapse;
	border: 1px solid red;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	background-color: red;
}

.availability td.available a{
	display: block;
}

.availability td.available a:hover{
	background-color: #FFF7EB;
}

.availability th.caption {
	border-collapse: collapse;
	padding-left: 5px;
	margin: 0px;
	background-color: #FFF7EB;
	color: black;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
}

th.heading a {
  display: block;
  height: 100%;
  width: 100%;
}


.cal_hour {
	background-color: #f1f1f1;
	padding: 2px;
	font-size: 10px;
	text-align: right;
	width:50px;
	white-space: nowrap;
}


a.Holiday, a.Holiday:visited, a.Holiday:active {
  background-color: #fff0d9;
  color: #000000;
  display: block;
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  white-space: nowrap;
  height: 100%;
  width: 100%;

}

a.Holiday:hover {
  background-color: #F7F3F7;
  color: #000000;
  text-decoration: none;
}

a.HoverLink, a.HoverLink:visited, a.HoverLink:active {
  background-color: #FFF7EB;
  color: #000000;
  display: block;
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  white-space: nowrap;
  height: 100%;
  border:0;
}

a.HoverLinkSelected, a.HoverLinkSelected:visited, a.HoverLinkSelected:active {
  background-color: #7d7d7d;
  color: #ffffff;
  display: block;
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  white-space: nowrap;
  height: 100%;
  border:0;
}

a.HoverLink:hover, a.HoverLinkSelected:hover {
  background-color: #cccccc;
  color: #000000;
  text-decoration: none;
}


a.HoverLink:hover, a.HoverLinkSelected:hover {
  background-color: #F7F3F7;
  color: #000000;
  text-decoration: none;
}

