.NewMail{
	font-weight:bold;
}

.JustViewed{
	font-weight: bold;
}
.SelectedNewMail {
	background-color: #96c0e4;
	font-weight:bold;
}

.headerTable {
	border: 1px solid black;
	background-color: #F6F7F2;
}
