BEGIN:VCALENDAR
VERSION:1.0
BEGIN:VTODO
SUMMARY:Bestetti - Galligani / Assiconfort
CLASS:PUBLIC
DESCRIPTION:scade oggi il termine per il deposito della
 memoriaistruttoriadi replica
DUE:20070614T000000
COMPLETED:20070613T000000
PRIORITY:0
STATUS:COMPLETED
END:VTODO
END:VCALENDAR
